<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <h1 class="text-center">New Cocktail</h1>

      <%= render 'form_cocktail' %>

    </div>
  </div>
</div>
